namespace TaskManagement.Views.FeedbackForm
{
    public class Details
    {
        <!-- Feedback button -->
<a href="@Url.Action("Feedback", "Project", new { id = Model.ProjectID })" class="btn btn-primary">Give Feedback</a>

    }
}
