body {
    background-color: #4B0F0F;
    color: #333;
    font-family: 'Poppins', sans-serif;
}

h2, h3 {
    color: #FFCC00;
    text-align: center;
}

.table {
    width: 100%;
    margin: 20px 0;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

.table th {
    background-color: #4B0F0F;
    color: #FFCC00;
}

.btn {
    border-radius: 5px;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
}

.btn-accept {
    background-color: #28a745;
}

.btn-accept:hover {
    background-color: #218838;
}

.btn-delete {
    background-color: #FF5733;
}

.btn-delete:hover {
    background-color: #C70039;
}

.btn-details {
    background-color: #007bff;
}

.btn-details:hover {
    background-color: #0056b3;
}

.btn-edit {
    background-color: #FFD700;
}

.btn-edit:hover {
    background-color: #FFC300;
}

.btn-create {
    background-color: #FFD700;
    color: #4B0F0F;
}

.btn-create:hover {
    background-color: #FFC300;
}
